<?xml version="1.0" encoding="UTF-8"?>
<suite name="example suite1" >
    <test name="Regression suite1" >
        <classes>
            <parameter name="UrlJs" value="http://the-internet.herokuapp.com/javascript_alerts" />
            <class name="auto.testcases.TestLogin"/>
            <class name="auto.testcases.TestJsAlert"/>
        </classes>
    </test>
</suite>